.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 15rem;
}

h1 {
    text-align: center;
}

p{
    padding-left: 10px;
}

.hw-links {
    padding-left: 10px;
}

/* .lab-links {

} */